{{ define "cloud-init.tmpl" }}
#cloud-config
password: fedora
chpasswd: { expire: False }
ssh_pwauth: False
{{- if .AuthorizedKeys }}
ssh_authorized_keys:
{{- range .AuthorizedKeys }}
  - {{ . }}
{{- end }}
{{- end }}
write_files:
- encoding: b64
  content: {{ .StartClusterScript }}
  path: /opt/bin/start-cluster.sh
  permissions: '0755'
- encoding: b64
  content: {{ .JoinClusterScript }}
  path: /opt/bin/join-cluster.sh
  permissions: '0755'
- encoding: b64
  content: {{ .LeaveClusterScript }}
  path: /opt/bin/leave-cluster.sh
  permissions: '0755'
- encoding: b64
  content: {{ .CACertificate }}
  path: /etc/etcd/pki/ca.crt
  permissions: '0444'
- encoding: b64
  content: {{ .CAPrivateKey }}
  path: /etc/etcd/pki/ca.key
  permissions: '0400'
{{ end }}
